body {
	font-size: 16px;
	color: #fff;
	background-color: #61122f;
	font-family: 'Oxygen', sans-serif;
}

/* HEADER */

#header-nav {

	background-color: #f6b319;
	border: none;
}

#logo-img {
	background: url(../images/restaurant-logo.png) no-repeat;
	width: 150px;
	height: 150px;
	margin: 10px 15px 10px 0;
}

.navbar-brand {
	padding-top: 25px;
}

.navbar-brand h1 {
	font-family: 'Lora', serif;
	color: #557c3e;
	font-size: 1.em
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 2px 2px #222;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}

.navbar-brand p {
	color: #000;
	font-size: .7em;
	margin-top: 10px;

}

.navbar-brand p span {
	vertical-align: middle;
	position: relative;
	top: 1px;
}

.navbar-header {
	display: flex;
}

.container {
	align-items: flex-start !important;
}

.navbar-nav {
	text-align: center;
	margin-top: 15px;
}

.navbar-nav i {
	font-size: 1.5em;
}

.navbar-nav a {
	margin-right: 15px;
}

#phone {
	text-align: right;
	line-height: 1.3em;
}

#phone span {
	color: #61122f;
	font-size: 1.7em;
}

#phone small {
	color: green;
}



/* END HEADER */

/*** The navigation tiles ****/
#menu-tile, #specials-tile, #map-tile {
	height: 250px;
	width: 100%;
	margin-bottom: 15px;
	position: relative;
	border: 2px solid #3F0C1F;
	overflow: hidden;
}

#menu-tile:hover, #specials-tile:hover, #map-tile:hover {
	box-shadow: 0 1px 5px 1px #cccccc;
}

#menu-tile {
	background: url(../images/menu-tile.jpg) no-repeat center;
}

#specials-tile {
	background: url(../images/specials-tile.jpg) no-repeat center;
}

#menu-tile span, #specials-tile span, #map-tile span {
	position: absolute;
	bottom: 0;
	text-align: center;
	right: 0;
	width: 100%;
	background: black;
	color: white;
	opacity: 0.7;
}

/**************** xtra Large devices only ***************/
@media (min-width: 1200px) {
	.jumbotron {
		background: url(../images/jumbotron_1200.jpg) no-repeat;
		height: 675px;margin-top: 30px;
		box-shadow: 0 0 50px #3F0C1F;
		border: 2px solid #3F0C1F;
	}
}

/**************** large devices only **************/
@media (min-width: 992px) and (max-width: 1199px) {
	#logo-img {
		background: url(../images/restaurant-logo_medium.png) no-repeat;
		width: 100px;
		height: 100px;
		margin: 10px 15px 10px 0;
	}

	.jumbotron {
		background: url(../images/jumbotron_992.jpg) no-repeat;
		height: 558px;margin-top: 30px;
		border: 2px solid #3F0C1F;
    box-shadow: 0 0 50px #3F0C1F;
	}
}

/**************** medium devices only ***************/
@media (min-width: 768px) and (max-width: 991px) {
	.navbar-nav {
		margin-top: 21px;
	}
	#logo-img {
		background: url(../images/restaurant-logo_medium\.png) no-repeat;
		width: 100px;
		height: 100px;
		margin: 10px 15px 10px 0;
	}

	header .container {
		margin-left: 0;
		margin-right: 0;
		width: 100%;
	}

	.jumbotron {
		background: url(../images/jumbotron_768.jpg) no-repeat;
		height: 432px;
		margin-top: 30px;
		border: 2px solid #3F0C1F;
    box-shadow: 0 0 50px #3F0C1F;
	}
}


/************* below small devices only ************/
@media (max-width: 767px) {
	.navbar-brand {
		padding-top: 10px;
		height: 80px;
	}

	.navbar-brand h1 {
		padding-top: 5px;
		font-size: 6vw;
	}

	.navbar-brand p {
		
		font-size: .6em;
		margin-top: 12px;
	}

	.navbar-brand p img {
		height: 20px;
	}

	header .container {
		margin-left: 0;
		margin-right: 0;
		width: 100%;
	}
	.navbar-nav i {
		font-size: 1em;
		margin-right: 5px;
	}

	.navbar-nav a {
		font-size: 1.2em
	}

	.jumbotron {
	margin-top: 30px;
	padding: 0;
	box-shadow: 0 0 50px #3F0C1F;
	border: 2px solid #3F0C1F;
	}
}


@media (max-width: 576px) {
	#menu-tile, #specials-tile, #map-tile {
		width: 360px;
		height: 250px;
		margin: 0 auto 15px;
	}
}

#phone-num {
	text-align: center;
	
	margin-top: 30px;
}

#phone-num p:nth-child(1) {
	border: solid white;
	border-radius: 5px;
	background: #f6b319;
	color: #3F0C1F;
	padding-top: 10px;
	padding-bottom: 10px;
	box-shadow: 0 0 50px #3F0C1F;
	font-size: 1.5em;
	margin-bottom: 5px !important;
}

#phone-num p:nth-child(2) {
	font-size: 0.8em;
	padding: 0px;
	text-transform: uppercase;
}



/** scree sizes like iphone 5 ***/
@media (max-width: 405px) {
	#menu-tile, #specials-tile, #map-tile {
		width: 100% ;
		height: 180px;
	}
}